@font-face {
    font-family: 'Rubik';
    src: url("../assets/fonts/Rubik/Rubik-VariableFont_wght.ttf") format('truetype');
}


*{
    box-sizing: border-box;
    

}

:root
{
    --primary-color: #0B132A;
    --secondary-color: #4F5665;
    --tertiary-color: #F53838;
    --quaternary-color: #FFECEC;
    
    

}

body{
    font-family: 'Rubik', sans-serif;
    margin: 0;
    background-color: #FFF;

}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    margin: 0 80px;

}
main
{
    margin: 0 80px;
}

header .logo-parent {
    display: flex;
    align-items: center;
}

header .logo-parent img {
    width: 32px;
    height: 32px;
    margin-right: 5px;
    
}

header nav ul {
    display: flex;
    list-style: none;
}

header nav ul li {
    margin-right: 32px;
}

header nav ul li a{
    text-decoration: none;
    color: var(--secondary-color);
    transition: all 0.2s ease-in-out;
}

header nav ul li a:hover{
    color: var(--primary-color);
}

.text-btn
{
    text-decoration: none;
    color: var(--primary-color);
    transition: all 0.2s ease-in-out;
}

.text-btn:hover
{
    color: var(--tertiary-color);
}

.nav-auth .text-btn
{
    margin-right: 20px;
}

.rounded-btn-outline
{
    display: inline-block;
    text-align: center;
    width: 140px;
    padding: 10px 20px;
    border-radius: 20px;
    border: 2px solid var(--tertiary-color);
    color: var(--tertiary-color);
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

.rounded-btn-outline:hover
{
    background-color: var(--tertiary-color);
    color: white;
}




.hero 
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 0;

}

.hero .left
{
    width: 50%;;
    text-align: left;
    padding-right: 10px;
}



.hero .right
{
    width: 50%;
}

.hero .left h1
{
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 42px;
    color: var(--primary-color);
    margin-bottom: 20px;
}
.bold-name
{
    font-weight: 700;
}

.hero .left p
{
    font-size: 14px;
    color: var(--secondary-color);
    margin-bottom: 30px;
}


.hero .left .rect-btn
{
    
    display: inline-block;
    text-align: center;
    width: 140px;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: var(--tertiary-color);
    color: white;
    text-decoration: none;
    font-size: 12px;
    -webkit-box-shadow: 0px 70px 55px -44px var(--tertiary-color);
-moz-box-shadow: 0px 70px 55px -44px var(--tertiary-color);
box-shadow: 0px 70px 55px -44px var(--tertiary-color);


}



.hero .right img
{
    width: 100%;
}


/** Stats Secrtion **/

.stats .stats-container
{
    background-color: #FFFFFF;
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 100px;
    padding: 20px 60px;
    border-radius: 20px;
    -webkit-box-shadow: 0px 20px 22px -24px rgba(13,16,37,1);
-moz-box-shadow: 0px 20px 22px -24px rgba(13,16,37,1);
box-shadow: 0px 20px 22px -24px rgba(13,16,37,1);
}


.divider {
    width: 2px; 
    height: 90px; 
    background-color: #EEEFF2;
  }

.stat .icon i
{
    border-radius: 50%;
    background-color: var(--quaternary-color);
    color: var(--tertiary-color);
    padding: 12px;
    margin-right: 28px;
}

.stats .stats-container .stat
{
    display: flex;
    flex-direction: row;
    align-items: center;
}

/** Features Section **/

.features
{
    display: flex;
    margin-bottom:100px ;
}

.features .right
{
    width: 50%;
    padding-left: 78px;
    display: flex;
    flex-direction: column;
    justify-content: center;


}

.features .left
{
    width: 50%;
}

.features .left img
{
    width: 100%;
}

.features .right h2
{
    padding: 0;
    margin: 0;
    font-weight: 500;
    font-size: 38px;
    color: var(--primary-color);
}

.features .right p
{
    font-size: 14px;
    color: var(--secondary-color);
    margin: 30px 0;
}

.features .right ul

{
    margin: 0;
    padding: 0;
    list-style: none;
}
.features .right ul li
{
    
    margin-bottom: 30px;

}
.features .right ul li:last-child
{
    
    margin-bottom: 0;

}

.features .right ul li i
{
    border-radius: 50%;
    background-color: #2FAB73;
    color: #FFFFFF;
    padding: 4px 4px;
    margin-right: 22px;
}

/** Pricing Section **/

.pricing
{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}

.pricing h2
{
    font-weight: 500;
    font-size: 38px;
    color: var(--primary-color);
    margin-bottom: 25px;
}

.pricing p
{
    font-size: 14px;
    color: var(--secondary-color);
    margin-bottom: 50px;
}

.pricing .pricing-card 
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    background-color: #FFFFFF;
    padding: 40px 30px;
    border-radius: 20px;

}
.pricing .pricing-card .pricing-card-header img
{
    width: 100%;
    height: 200px;
}

.pricing .pricing-card .pricing-card-header 
{
    margin-bottom: 35px;
    text-align: center;
}

.pricing .pricing-card ul
{
    list-style: none;
    padding: 0;
    margin: 0;
} 

.pricing .pricing-card ul li
{
    margin-bottom: 20px;
}

.pricing .pricing-card ul li:last-child
{
    margin-bottom: 0;
}

.pricing .pricing-card ul li i
{
    margin-right: 10px;
    color:#2FAB73;

}

.pricing .pricing-card .pricing-card-footer 

{
   text-align: center;

}

.pricing .pricing-card .pricing-card-footer h3 span

{
    font-size: 12px;
    color: var(--secondary-color);

}

.pricing .pricing-card .spacer
{
    flex-grow: 1;
}


.pricing .pricing-cards
{
    display: flex;
    justify-content: space-around;
    width: 100%;
}




/** Footer **/

footer
{
    display: flex;
    background-color: #F8F8F8;
    color: white;
    padding: 50px 80px;
    text-align: center;
    justify-content: space-between;

    width: 100%;
}

footer .footer-social
{
    width: 320px;
}

footer .footer-social .logo-parent {
    display: flex;
    align-items: center;
    color: var(--primary-color);
}

footer .footer-social .logo-parent img {
    width: 32px;
    height: 32px;
    margin-right: 5px;
    
}

footer .footer-social .logo-parent h1
{
    margin: 0;
    padding: 0;
}
footer  p
{
    text-align: left;
    font-size: 14px;
    color: var(--secondary-color);
    margin: 40px 0px;
}

footer .footer-social ul
{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: 40px;
}
footer .footer-social ul li
{

    margin-right: 20px;
}

footer .footer-social ul li a
{

    display: flex;
    text-decoration: none;
    background-color: white;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: 5px 19px 33px -14px rgba(13,16,37,1);
    transition: all 0.2s ease-in-out;
}
footer  .footer-social ul li a i
{
    color: var(--tertiary-color);
    font-size: 14px;
    transition: all 0.2s ease-in-out;

}

footer .footer-social ul li a:hover
{
    background-color: var(--tertiary-color);
    transition: all 0.2s ease-in-out;
}
footer  .footer-social ul li a:hover i
{
    color: white;
}


/** Footer Nav **/ 
footer .footer-nav
{
    display: flex;
    flex-direction: row;
}
footer .footer-nav ul
{
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: start;
    list-style: none;
    padding: 0;
    margin: 0 40px;
}
footer .footer-nav ul li
{
    margin-bottom: 20px;
}

footer .footer-nav ul li a
{
    text-decoration: none;
    color: var(--secondary-color);
    transition: all 0.2s ease-in-out;
}
footer .footer-nav ul li a:hover
{
    text-decoration: none;
    color: var(--primary-color);
    transition: all 0.2s ease-in-out;
}