*{
    box-sizing: border-box;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.navList
{
    display: flex;
    list-style: none;
    justify-content: space-between;
}

.logo
{
    text-decoration: none;
    font-weight: bold;
    color: #020202;
}